<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div style="flex: 1;min-width: 300px;">
        <div class="Liu">
            <h2>Liu shuaitong 76015</h2>
        </div>
        <div class="picture1">
            <img src="/static/liushuaitong.jpg" width="200" height="200"/>
        </div>
        <div class="Liu">
            <h2>Zhang sixuan 76019</h2>
        </div>
        <div class="picture1">
            <img src="/static/zhangsixuan.jpg" width="200" height="200"/>
        </div>
    </div>
    <div style="width: 200px; margin: auto;">
        <button id="myButton" class="primary" style="font-size: 20px;"  onclick="redirectToWord()">Click me</button>
    </div>

</body>
<script>
function redirectToWord() {
  window.location.href = 'https://liushuaitongwork.azurewebsites.net/words';
}
</script>
</html>

